.player2 {
    background-color: red;
    width: 600px;
    height: 500px;
    /*margin-left: 600px;*/
    /*margin-top: -525px;*/
}
body{
    margin:5% 5% 5% 5%;
}
.player-content{
    margin-left:10%;
    margin-right:10%;
    display: flex;
    flex-direction: row;
}

.player1 {
    background-color: blue;
    width: 600px;
    height: 500px;
}

.radio_buttons {
    margin-left: 300px;
    margin-top: -300px;
}

.login_player2, .login_player1, .health_player2, .health_player1, .radio_text {
    font-size: 25px;
}

.bump_button {
    font-size: 25px;
    background-color: #4CAF50;
    color: white;
    border-radius: 7%;
    margin-left:40%;
    margin-right:50% ;
}

.progress_player2, .progress_player1 {
    background-color: #f3f3f3;
    border: 0;
    height: 18px;
    border-radius: 9px;
}
.name-hp{
    display: flex;
    justify-content: space-around;
}
.health{
    display: inline;
}
.player_name{
    display: inline;
}
.bump{
    display: flex;
    justify-content: center;
}