.fight-window{
    width: 59%;
    display: inline-block;
    text-align: center;
    height: 300px;
    border: 1px solid green;
}

.online{
    width: 39%;
    display: inline-block;
    height: 300px;
    text-align: center;
    position: absolute;
    border: 1px solid blue;
}

.center {
    display: inline-block;
}